@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&family=Space+Mono:ital,wght@0,700;1,400&display=swap');

body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='button'] {
  font-family: 'Space Grotesk', sans-serif;
}

input[type='text'] {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  padding: 2em;
  margin: 2em;
  background-color: white;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: white;
}

.nav-ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

.nav-a {
  color: black;
  text-decoration: none;
}

.nav-a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

.welcome-para {
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 2em 5em;
  }

  header {
    padding: 1em 5em;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    margin: 2em 10em;
  }

  header {
    padding: 1em 10em;
  }
}
