@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&family=Space+Mono:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Space Grotesk', sans-serif;
}

input {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
